<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Alta de Clientes</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <fieldset>
                <legend>Datos del Nuevo Cliente</legend>
                <div class="form-group">
                    <label for="inputNombre" class="col-lg-2 control-label">Nombre</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputNombre" placeholder="Nombre" type="text" ng-model="nombre">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCi" class="col-lg-2 control-label">Nro de Documento</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputCi" placeholder="Ci" type="text" ng-model="ci">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputEmail" placeholder="Email" type="text" ng-model="email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button class="btn btn-primary" ng-click="alta()">Crear</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
