<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Ventas</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <fieldset>
                <legend>Registrar Nueva Venta</legend>
                <div class="form-group">
                    <label for="inputCliente" class="col-lg-2 control-label">Cliente</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputNombre" placeholder="Nombre" type="text" ng-model="nombreC">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Seleccione un Cliente</label>
                    <div class="col-lg-10">
                        <select ng-model="idCliente">
                            <option ng-repeat="c in clientes | filter:nombreC">{{c.id}}; {{c.nombre}}</option>
                        </select>
                    </div>
                </div>


                
                <div class="panel panel-info">
  <div class="panel-heading">Productos para Agregar</div>
  <div class="panel-body">
                      <div class="form-group">
                    <label for="inputProducto" class="col-lg-2 control-label">Producto</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputProducto" placeholder="Nombre" type="text" ng-model="nombreP">
                    </div>
                </div>
    <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Stock</th>
                            <th>Cantidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in productos | filter:nombreP">
                            <td>{{p.id}}</td>
                            <td>{{p.nombre}}</td>
                            <td>{{p.stock}}</td>
                            <td>
                                <input class="form-control" id="inputCantidad" placeholder="Cantidad" type="text" ng-model="cantidad[p.id]">
                            </td>
                            <td>
                                <button type="reset" class="btn btn-default" ng-click="agregar(p.id,cantidad[p.id],$index,p.precio,p);">Agregar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
  </div>
</div>
        
                
                <div class="panel panel-success">
  <div class="panel-heading">Productos Agregados</div>
  <div class="panel-body">
                      
    <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Cantidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in agregados">
                            <td>{{x.id}}</td>
                            <td>{{x.cant}}</td>
                            <td><button type="reset" class="btn btn-danger" ng-click="eliminar($index)">Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
     
  </div>
</div>
                
                
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary" ng-click="venta();">Registrar y Pagar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

